<img align="right" src="https://komarev.com/ghpvc/?username=thesirix&label=Visitors&color=0eb45e&style=flat" alt="thesirix" />
<h1 align="center">
    <img src="https://readme-typing-svg.herokuapp.com/?font=Righteous&size=35&center=true&vCenter=true&width=500&height=70&duration=4000&lines=Hi+There!+%F0%9F%91%8B;+I%27m+Thesirix!;" />
</h1>

Hey les devs et les curieux, je suis thesirix, un(e) passionné(e) de code basé(e) à Simplon! Prêt(e) à explorer le monde excitant du développement web avec moi ? 🚀

## Mon Univers Techno 🌐
J'ai une boîte à outils colorée comprenant :

- Python : Mon super-héros pour créer des applications géniales.
- HTML : La base solide sur laquelle je construis mes sites web.
- CSS : Pour ajouter une touche de style et faire danser mes pages.
- JavaScript : Ma baguette magique pour rendre mes sites interactifs et dynamiques.
- React : Mon framework préféré pour construire des interfaces utilisateur modernes et réactives.
- Adobe : Pour ajouter une touche créative à mes projets et exprimer ma vision artistique.


## ToolBox 🛠

<img src="https://skillicons.dev/icons?i=python,django,html,css,javascript,react,figma,photoshop,illustrator,premiere,ae,ableton"/>


## Trop Cool d'Apprendre! 🎓
 Je partage l'amour du code à travers des ateliers fun et des sessions de livecoding. C'est le genre de truc qui me fait sauter du lit chaque matin! 🌈

## La Météo  ☀️

{{ template "daily-table" .Weathers }}


## Let's Connect! 🚀
Si vous êtes partants pour coder ensemble, discuter de formations ou simplement échanger des idées, je suis toujours partant(e) ! Contactez-moi. On va créer quelque chose de génial ensemble! 🌟
<p align="left">
<a href="https://instagram.com/art_trip_adventure" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="art_trip_adventure" height="30" width="40" /></a>
</p>

<br>


![Gif](gift.gif)


<p><img align="left" src="https://github-readme-stats.vercel.app/api/top-langs?username=thesirix&show_icons=true&theme=tokyonight&locale=en&layout=compact" alt="thesirix" /></p>

<p>&nbsp;<img align="center" src="https://github-readme-stats.vercel.app/api?username=thesirix&show_icons=true&theme=tokyonight&locale=en" alt="thesirix" /></p>

<p><img align="center" src="https://github-readme-streak-stats.herokuapp.com/?user=thesirix&theme=dark" alt="thesirix" /></p>




