# Salut à tous, c'est Thesirix! 👋

Hey les devs et les curieux, je suis thesirix, un(e) passionné(e) de code basé(e) à Simplon! Prêt(e) à explorer le monde excitant du développement web avec moi ? 🚀

## Mon Univers Techno 🌐
J'ai une boîte à outils colorée comprenant :

- Python : Mon super-héros pour créer des applications géniales.
- HTML : La base solide sur laquelle je construis mes sites web.
- CSS : Pour ajouter une touche de style et faire danser mes pages.
- JavaScript : Ma baguette magique pour rendre mes sites interactifs et dynamiques.
- React : Mon framework préféré pour construire des interfaces utilisateur modernes et réactives.


## ToolBox 🛠

<div style="text-align:center;">
<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="40" height="40"/>&nbsp;&nbsp;&nbsp; <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>&nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/> &nbsp;&nbsp;&nbsp;   <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/> &nbsp;&nbsp;&nbsp;<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40"/>&nbsp;&nbsp;&nbsp;<img src="https://img.shields.io/badge/adobe-%23FF0000.svg?style=for-the-badge&logo=adobe&logoColor=white"
</div>

## Trop Cool d'Apprendre! 🎓
 Je partage l'amour du code à travers des ateliers fun et des sessions de livecoding. C'est le genre de truc qui me fait sauter du lit chaque matin! 🌈

## La Météo  ☀️

{{ template "daily-table" .Weathers }}


## Let's Connect! 🚀
Si vous êtes partants pour coder ensemble, discuter de formations ou simplement échanger des idées, je suis toujours partant(e) ! Contactez-moi. On va créer quelque chose de génial ensemble! 🌟

<br><br>


![Gif](gift.gif)


Dernière mise à jour : { formatTime .UpdatedAt }
