# Salut à tous, c'est Thesirix! 👋

Hey les devs et les curieux, je suis thesirix, un(e) passionné(e) de code basé(e) à Simplon! Prêt(e) à explorer le monde excitant du développement web avec moi ? 🚀

## Mon Univers Techno 🌐
J'ai une boîte à outils colorée comprenant :

- Python : Mon super-héros pour créer des applications géniales.
- HTML : La base solide sur laquelle je construis mes sites web.
- CSS : Pour ajouter une touche de style et faire danser mes pages.

## Trop Cool d'Apprendre! 🎓
 Je partage l'amour du code à travers des ateliers fun et des sessions de livecoding. C'est le genre de truc qui me fait sauter du lit chaque matin! 🌈

## La Météo  ☀️

{{ template "daily-table" .Weathers }}

## Let's Connect! 🚀
Si vous êtes partants pour coder ensemble, discuter de formations ou simplement échanger des idées, je suis toujours partant(e) ! Contactez-moi. On va créer quelque chose de génial ensemble! 🌟

<br><br>

![Gif](gift.gif)


Dernière mise à jour : { formatTime .UpdatedAt }
